body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(26, 26, 27);
    font-family: 'Nunito', sans-serif !important;
}

.header {
    background-color: rgb(0, 0, 0);
    height: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-image: url(../resources/Header.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    height: 100px;
    margin: 0 auto;
    display: block;
    filter: invert(1);
}

.block {
    padding: 10px;
    color: white;
    width: calc(100% - 30px);
    max-width: 400px;
    margin: 0 auto;
}

.header-text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -5px;
}

.number-input {
    height: 35px;
    width: calc(100% - 14px);
    margin: 11px 0px 11px 0px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(135, 135, 155);
    background-color: transparent;
    color: white;
    font-family: 'Nunito', sans-serif !important;
    transition: all 0.2s;
}

.number-input:focus {
    outline: none;
    margin: 10px 0px 10px 0px;
    border: 2px solid rgb(135, 135, 155);
    width: calc(100% - 17px);
    transition: all 0.2s;
}

.button {
    height: 39px;
    width: calc(100% - 2px);
    margin: 11px 0px 11px 0px;
    border: 1px solid rgb(135, 135, 155);
    background-color: transparent;
    border-radius: 5px;
    color: white;
    font-family: 'Nunito', sans-serif !important;
    transition: all 0.2s;
}

.button:disabled {
    color: rgb(135, 135, 155);
    background-color: #2f2f35;
    transition: all 0.2s;
}

.button:hover {
    border-radius: 1px;
    transition: all 0.2s;
}

.button:hover:disabled {
    border-radius: 5px;
    transition: all 0.2s;
}

#qrcode {
    margin: 0 auto;
    width: 250px;
    padding: 25px;
    background: #2f2f35;
    border-radius: 25px;
}

.centered {
    text-align: center;
}

.card {
    border: 1px solid #313032;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.29)
}

.card:first-child {
    margin-top: 20px;
}

.hidden {
    display: none;
}